

#root {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
  }
  
  .usersCard {
    display: grid;
    width: 500px;
    height: 400px;
    margin: 20px;
  background-color: rgb(8, 214, 214);
  border-radius: 10px 50px;
  gap: 10px;
  grid-template-columns: repeat(3,1fr);
  }
  
  p{
    margin: 20px;
    color: rgba(66, 29, 1, 0.562);
  }
  
  button {
    width: 30px;
    height: 30px;
    margin: 20px 40px;
   color: rgb(225, 24, 24);
  font-size: 20px;
  background-color: rgba(200, 178, 178, 0.574);
  border: none;
  border-radius: 20px 10px;
  margin-left: 60px;
  }
  
  
  input {
  width: 100%;
    margin-top: 30px;
    height: 20px;
    border: none;
    background-color: rgb(214, 253, 253);
    border-radius: 10px;
    color: rgb(168, 151, 169);
    outline:none;padding-left: 30px;
  
  }
  
  .pencil {
  background-image: url(./image.png);
  }